<div class="container">
  <button
  [disabled]="disableGenerateQuestionButton || requestLimitReached"
  [class.disabled]="disableGenerateQuestionButton || requestLimitReached"
  (click)="generateQuestion()">
    問題を生成する
  </button>
  <div *ngIf="requestLimitReached" class="limit-reached">
    The request limit has been reached.<br>
    Please wait for an hour before trying again.
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="isLoading" class="loader"></div>
    <div *ngIf="question">
      <p>{{ question }}</p>
      <ol>
        <li *ngFor="let option of options" (click)="selectAnswer(option)" [class.selected]="option.id === selectedAnswer" [class.disabled]="disableOptions">{{ option.text }}</li>
      </ol>
      <button *ngIf="selectedAnswer && !hideSubmitButton" [disabled]="disableSubmitAnswerButton" [class.disabled]="disableSubmitAnswerButton" (click)="submitAnswer()">回答を送信します</button>
      <div *ngIf="isLoading" class="loader"></div>
      <div *ngIf="showAnswer && !isLoading">
        <img [src]="resultImage" alt="Result" />
        <p>{{ resultDescription }}</p>
      </div>
    </div>
  </div>
