<div *ngIf="!feedbackSubmitted">
  <h3>フィードバックを提供してください</h3>
  <div class="btn-group">
    <label class="btn" [class.active]="feedback === 'good'" for="good">
      <input type="radio" id="good" name="feedback" value="good" [(ngModel)]="feedback" />良い
    </label>
    <label class="btn" [class.active]="feedback === 'bad'" for="bad">
      <input type="radio" id="bad" name="feedback" value="bad" [(ngModel)]="feedback" />悪い
    </label>
  </div>
  <div class="input-container">
    <textarea class="comment-input" id="comment" [(ngModel)]="comment"></textarea>
    <button [disabled]="disableSubmitButton" (click)="onSubmit()" class="send-button">送信</button>
  </div>
</div>
<div *ngIf="feedbackSubmitted">
  <p>フィードバックが送信されました。ありがとうございます。</p>
</div>
